<h1>You've added a new task!</h1>

<p>@Model</p>
@* <p>@Model.GetPrice()</p> *@
@* <p>@Model.GetMiles()</p> *@
<p><a href="/">Add another car</a></p>
<p><a href="/view_all_cars">View current tasks</a></p>
